$gold: #f4b535;
$red: #d83611;
$lightred: #ff4419;
$cta: #3bb1cc;
$headerfont: 'Black Han Sans', sans-serif;
$mainfont: 'Poppins', sans-serif;

body {
	width: 100vw;
	min-height: 800px;
	height: 100vh;
	background: no-repeat url("./../img/chicken3.jpg");
	background-size: cover;
}

#content {
	width: 80vw;
	min-width: 500px;
	max-width: 900px;
	margin: 20px auto;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.7);
	transition: height 0.4s ease-in-out;

	#inner-wrapper {
		padding: 15px 0px;
	}

	header {
		font-family: $headerfont;
		padding: 10px 20px 0px;
	}

	h1 {
		color: $gold;
		font-size: 3em;
		margin: 0;
		text-shadow: 5px 5px 5px black;
		letter-spacing: 0.05em;
	}

	h2 {
		font-size: 1.2em;
		color: $red;
		text-shadow: 3px 3px 5px black;
	}

	nav {
		$height: 50px;

		width: 100%;
		height: $height;
		background-color: rgba(0, 0, 0, 0.3);

		ul {
			text-indent: none;
			list-style: none;
		}

		li, a{
			display: inline-block;
		}

		a {
			color: #ffffff; 
			padding: 0px 20px;
			text-decoration: none;
			line-height: $height;
			height: $height;
			box-sizing: border-box;

			&.active {
				background-color: rgba(0, 0, 0, 0.2);
				border-bottom: 2px solid $gold;
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.4);
			}
		}
	}

	.hide {
		opacity: 0;
	}

	#tab-content, footer {
		transition: opacity 0.6s;
	}

	#tab-content {
		padding: 20px 60px 5px;
		font-family: $mainfont;
		text-shadow: 3px 3px 5px black;

		h3 {
			color: $gold;
		}

		p {
			color: #fff;
		}

		article {
			clear: both;
		}

		article.hug-right, article.hug-left {
			width: 60%;
			min-width: 375px;
			max-width: 500px;
		}

		article.hug-right {
			float: right;
		}

		article.hug-left {
			float: left;
		}

		#contact-cta {
			width: 100%;
			text-align: center;
			font-size: 1.5em;

			a {
				text-decoration: none;
				color: $gold;
				font-weight: bold;
				padding: 10px;
				background-color: $red;
				border-radius: 15px;
				text-shadow: none;
				transition: all 0.7s;
				box-shadow: 5px 5px 3px black;	

				&:hover {
					background-color: $lightred;
					color: white;
				}
			}
		}

		ul {
			list-style: square;
			color: #fff;
		}

	}
	
	footer {
		padding: 0px 80px;
		color: #999;
		clear: both;

		a {
			color: #999;
			&:hover {
				color: $gold;
			}
		}
	}
}